<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Vote your Candidate!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="candidate_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
</head>


   <table class="candidate">
        <thead>
            <tr>
                <th>NAME</th>
                <th>BRANCH</th>
                <th>YEAR</th>
		<th>SELECT</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>abc</td>
                <td>cse</td>
                <td>2019-23</td>
		<td>
			<div class="radio">
                      <label><input type="radio" name="optradio"></label>
                 </div>
		</td>
                
            </tr>
            <tr>
                <td>cde</td>
                <td>cse</td>
                <td>2019-23</td>
		<td>
			<div class="radio">
                      <label><input type="radio" name="optradio"></label>
                 </div>
		</td>
                
            </tr>
            <tr>
                <td>fgh</td>
                <td>cse</td>
                <td>2019-23</td>
		<td>
			<div class="radio">
                      <label><input type="radio" name="optradio"></label>
                 </div>
		</td>
                
            </tr>
            <tr>
                <td>ijk</td>
                <td>cse</td>
                <td>2019-23</td>
		<td>
			<div class="radio">
                      <label><input type="radio" name="optradio"></label>
                 </div>
		</td>
                
            </tr>
            <tr>
                <td>lmn</td>
                <td>cse</td>
                <td>2019-23</td>
		<td>
			<div class="radio">
                      <label><input type="radio" name="optradio"></label>
                 </div>
		</td>
                
            </tr>
        </tbody>
    </table>

<center>
<div class="button_css">	
  <div class="vote">
      <button type="button" onclick="window.location.href='/login'">RESET</button>
      <button type="button" onclick="window.location.href='/signup'">CONFIRM</button>
  </div>
</div>
</center>
